#container{
    height: 200px;
    width: 300px;
    background-color: #CE1126;
    position: relative;
    border-radius: 20px;

}

#inner-container{
    height: 90px;
    width: 300px;
    background-color: #002868;
    margin-top: 10px;
    position: absolute;
    top: 43.5px;
    left: 0;
}

#circle{
    height: 70px;
    width: 70px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}