h1{
    background-color: #f3e352;
    height: 40px;
    width: 200px;

    border: 5px solid #426103;
    padding: 10px;
    margin: 10px;
}

h2{
    background-color: #027ca4;
    border: 5px dotted #000000;
    height: 30px;
    width: 250px;
    padding: 10px;
    margin: 10px;
}